body{
	max-width:1650px;
}

small{
font-size: 11px;
color:#686868;
}

.box3{
	border: 1px solid #E8E8E8;
	padding: 10px;
	margin-bottom: 15px;
	background-color: #FCFCFC;
	background: #FCFCFC url(/img/fillc5.png) no-repeat 0 0;
}

.boxwire{
	border: 1px solid #E8E8E8;
	padding: 10px;
	margin-bottom: 15px;
	margin-right: 15px;
	background-color: #FCFCFC;
}

.error{
	color:#CC3300;
	font-weight: bold;
}

.error div{
	margin-top:10px;
	margin-bottom:10px;
}

table td, th{
	font-family: arial, Helvetica, sans-serif;
	font-size: 12px;
}

th{
	font-weight: bold;
}

h1, h2{
	font-family: arial, Helvetica, sans-serif;
	font-size: 140%;
	color: #004E97;	
}

.filter_on{
	border: 1px solid #004E97;
	background-color: #CACAFF;
}

.filter_off{
	border: 1px solid #DDDDDD;
	background-color: #f2f2f2;
}

.newstitle{
	
}

.newstitle .date{
	color : gray;
	font-size: 90%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.odd{
	background-color: #f2f2f2;
}

.even{
	background-color: #CFFEC7;
}

form{
	margin: 0px;
	padding: 0px;
}

.readline{ 
	background-color: #f8cccc;
}

.active{ 
	background-color: #f8cccc;
}

.boxalert{
	border: 1px solid #DDDDDD;
	color: red;
	font-weight: bold;
	padding: 10px;
	background-color: #f2f2f2;
}

.boxalert2{
	border: 1px solid #DDDDDD;
	padding: 10px;
	margin-right: 20px;
}

.box{
	border: 1px solid #DDDDDD;
	padding: 10px;
	background-color: #f2f2f2;
}

.lines{
	border: 1px solid #DDDDDD;
}

.lines td{
	border-top: 1px solid #f2f2f2;
}

.lines th{
	background-color: #E5E5E5;
	text-align:left;
}

img{
  border: none;
}

#rates{
	width: 100%;
	margin-right: 20px;
}

#rates td{
	text-align: center;
	padding: 5px;
	font-size: 10px;	
}

#rates td a{
	text-decoration: none;
}

#rates .actives{
	border: 1px solid #f2f2f2;
	border-bottom: none;
	border-top: 3px solid #004e97;
}

#rates .passs{
	border: 1px solid #f2f2f2;
	padding: 5px;
	font-size: 10px;	
}

#rates .last{
	border: 1px solid #f2f2f2;
	border-top: none;
	border-right: none;
	
}

#rates .chart{
	position: relative;
}

#rates #chart{
	border: 1px solid #f2f2f2;
	position: absolute;
	text-align: left;
}

#rates #indicator{
	display:none;
	position: absolute;
	left: 145px;
	top: 40px;
}

#calendar{
	border: 1px solid #004b95;
	background-color: #f1f8ff;
}

#calendar td {
font-family: arial, Helvetica, sans-serif;
font-size: 14px;
padding: 4px;
border-bottom: 1px solid #6990b7;
border-right: 1px solid #6990b7;
width: 25px;
text-align: left;
cursor: pointer;
}

#calendar td.checked{
	background-color: #c1d6eb;
	font-weight: bold;	
}

.info {   
position: relative;   
}   

.tooltip{
   position: absolute;
   top: 100px;
   left: -100px;
   z-index: 3;
   display: none;
  background-color: #F9F9F9;
  border:1px solid silver;
  padding: 10px; 
  padding-top: 0px; 
  width: 180px;  
}
  
.popup {   
position: absolute;   
display: none; /* keeps the popup hidden if no JS available */  
background-color: #f2f2f2;
border:1px solid silver;
padding: 10px;
width: 107px;
left: 0px;
top:-10px;
  padding-top: 0px; 
}  

hr{
	width: 99%;
	height: 0px;
	border: 0px;
	border-top: 1px solid silver;
}

#menuOver {background:#b01111 url(/img/menu.main.gif) no-repeat 0 0;height:7px;padding:0 22px;}
#menuOver a {color:#fcfcfc;text-decoration:none}
#menuOver a:hover {text-decoration:underline}
#menuOver #login {float:left;padding:0 10px 0 20px;height:37px;line-height:33px;background:url(/img/icon.login.gif) no-repeat 0px 50%;}
#cmenuOver .menu {float:right;width:802px;}
#menuOver .menu a {float:left;height:22px;line-height:21px;white-space:nowrap;/*border:1px solid #f00;*/}
#menuOver .menu a:hover,#menuOver .menu a.selected {text-decoration:underline;background:#e71d1d url(/img/menu.item.selected.bg.gif) repeat-x 0 0}
#menuOver .menu div.last {float:left;height:7px;width:2px;background:url(/img/menu.item.bg.gif) no-repeat 0 0;}
#menuOver .menu a span {display:block;padding:0 15px 0 15px;height:100%;background:url(/img/menu.item.bg.gif) no-repeat 0 0;cursor:pointer;float:left;}


/* added from in */

#menuOverIn {background:#b01111 url(/img/menu.in.gif) no-repeat 0 0;height:45px;padding:0 22px;}
#menuOverIn a {color:#fcfcfc;text-decoration:none}
#menuOverIn a:hover {text-decoration:underline}
#menuOverIn #login {float:left;padding:0 10px 0 20px;height:45px;line-height:45px;background:url(/img/icon.login.gif) no-repeat 0px 50%;}
#menuOverIn .menu {float:right;width:590px;}
#menuOverIn .menu a {float:left;height:45px;line-height:45px;white-space:nowrap;}
#menuOverIn .menu a:hover,#menuOverIn .menu a.selected {text-decoration:underline;background:#e71d1d url(/img/menu.item.selected.bg.gif) repeat-x 0 0}
#menuOverIn .menu div.last {float:left;height:45px;width:2px;background:url(/img/menu.item.bg.gif) no-repeat 0 0;}
#menuOverIn .menu a span {display:block;padding:0 25px 0 25px;height:100%;background:url(/img/menu.item.bg.gif) no-repeat 0 0;cursor:pointer;float:left;}

#menuOverIn #salutation {float:left;height:45px;line-height:45px;font-weight:bold;color:#fff;padding:0 20px;} 
#menuOverIn #logout {float:left;padding:0 10px 0 15px;height:45px;line-height:45px;background:url(/img/icon.logout.gif) no-repeat 0px 17px;}

#auth input,#auth textarea, #auth select {
	font-size:13px;
	font-family:Tahoma;
	border: 1px solid #004E97;
	background-color : #F0F8FF;	
}

#auth input,#auth textarea{
	padding-left : 5px;
	padding-right: 5px;
}

#auth input.button{
	background-image: url(/img/button_bg.gif);
	cursor: pointer;
}

.input{
	font-size:14px;
	font-family:Tahoma;
	border: 1px solid #004E97;
	background-color : #F0F8FF;	
}

.submit{
	background-image: url(/img/button_bg.gif);
}


#general input,#general textarea {font-size:12px;font-family:Tahoma;}
.menu3 {font-size:12px}


#menuAuth {background:#004E97;height:7px;padding:0 2px;}
#menuAuth a {color:#fcfcfc;text-decoration:none}
#menuAuth a:hover {text-decoration:underline}
#menuAuth #login {float:left;padding:0 10px 0 20px;height:37px;line-height:33px;background:url(/img/icon.login.gif) no-repeat 0px 50%;}
#cmenuOver .menu2 {float:right;width:802px;}
#menuAuth .menu2 a {float:left;height:22px;line-height:21px;white-space:nowrap;/*border:1px solid #f00;*/}
#menuAuth .menu2 a:hover,#menuAuth .menu a.selected {text-decoration:underline;background:#e71d1d url(/img/menu.item.selected.bg2.gif) repeat-x 0 0}
#menuAuth .menu2 div.last {float:left;height:7px;width:2px;background:url(/img/menu.item.bg.gif) no-repeat 0 0;}
#menuAuth .menu2 a span {display:block;padding:0 10px 0 10px;height:100%;background:url(/public/cabinet/menu.item.bg2.gif) no-repeat 0 0;cursor:pointer;float:left;}


/* added from in */

#menuAuthIn {background:#004E97 url(/img/menu.in.gif1) no-repeat 0 0;height:45px;padding:0 22px;}
#menuAuthIn a {color:#0070D5;text-decoration:none}
#menuAuthIn a:hover {text-decoration:underline}
#menuAuthIn #login {float:left;padding:0 10px 0 20px;height:45px;line-height:45px;background:url(/img/icon.login.gif1) no-repeat 0px 50%;}
#menuAuthIn .menu2 {float:right;width:590px;}
#menuAuthIn .menu2 a {float:left;height:45px;line-height:45px;white-space:nowrap;}
#menuAuthIn .menu2 a:hover,#menuAuthIn .menu a.selected {text-decoration:underline;background:#0070D5 url(/img/menu.item.selected.bg2.gif) repeat-x 0 0}
#menuAuthIn .menu2 div.last {float:left;height:45px;width:2px;background:url(/img/menu.item.bg.gif1) no-repeat 0 0;}
#menuAuthIn .menu2 a span {display:block;padding:0 25px 0 25px;height:100%;background:url(/img/menu.item.bg.gif1) no-repeat 0 0;cursor:pointer;float:left;}

#menuAuthIn #salutation {float:left;height:45px;line-height:45px;font-weight:bold;color:#fff;padding:0 20px;} 
#menuAuthIn #logout {float:left;padding:0 10px 0 15px;height:45px;line-height:45px;background:url(/img/icon.logout.gif1) no-repeat 0px 17px;}

.boxalert{
	border: 1px solid #DDDDDD;
	color: red;
	font-weight: bold;
	padding: 10px;
	background-color: #f2f2f2;
}

#keyboardInputMaster {
  position:absolute;
  border:2px groove #dddddd;
  color:#000000;
  background-color:#dddddd;
  text-align:left;
  z-index:1000000;
  width:auto;
}

#keyboardInputMaster thead tr th {
  text-align:left;
  padding:2px 5px 2px 4px;
  background-color:inherit;
  border:0px none;
}
#keyboardInputMaster thead tr th select,
#keyboardInputMaster thead tr th label {
  color:#000000;
  font:normal 11px Arial,sans-serif;
}
#keyboardInputMaster thead tr td {
  text-align:right;
  padding:2px 4px 2px 5px;
  background-color:inherit;
  border:0px none;
}
#keyboardInputMaster thead tr td span {
  padding:1px 4px;
  font:bold 11px Arial,sans-serif;
  border:1px outset #aaaaaa;
  background-color:#cccccc;
  cursor:pointer;
}
#keyboardInputMaster thead tr td span.pressed {
  border:1px inset #999999;
  background-color:#bbbbbb;
}

#keyboardInputMaster tbody tr td {
  text-align:left;
  margin:0px;
  padding:0px 4px 3px 4px;
}
#keyboardInputMaster tbody tr td div {
  text-align:center;
  position:relative;
  height:0px;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout {
  height:auto;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table {
  height:20px;
  white-space:nowrap;
  width:100%;
  border-collapse:separate;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table.keyboardInputCenter {
  width:auto;
  margin:0px auto;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td {
  vertical-align:middle;
  padding:0px 5px 0px 5px;
  white-space:pre;
  font:normal 11px 'Lucida Console',monospace;
  border-top:1px solid #e5e5e5;
  border-right:1px solid #5d5d5d;
  border-bottom:1px solid #5d5d5d;
  border-left:1px solid #e5e5e5;
  background-color:#eeeeee;
  cursor:default;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.last {
  width:99%;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.alive {
  background-color:#ccccdd;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.target {
  background-color:#ddddcc;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.hover {
  border-top:1px solid #d5d5d5;
  border-right:1px solid #555555;
  border-bottom:1px solid #555555;
  border-left:1px solid #d5d5d5;
  background-color:#cccccc;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.pressed,
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.dead {
  border-top:1px solid #555555;
  border-right:1px solid #d5d5d5;
  border-bottom:1px solid #d5d5d5;
  border-left:1px solid #555555;
  background-color:#cccccc;
}

#keyboardInputMaster tbody tr td div var {
  position:absolute;
  bottom:0px;
  right:0px;
  font:bold italic 11px Arial,sans-serif;
  color:#444444;
}

.keyboardInputInitiator {
  margin-left:3px;
  vertical-align:middle;
  cursor:pointer;
}

#faq strong{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-indent:50px;
	padding-bottom: 10px;
}


#faq{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#faq h2{
	padding-top: 10px;
	font-family: arial, Helvetica, sans-serif;
	font-size: 140%;
	color: #004E97;	
	border-bottom: 1px solid #e8e8e8;
}

#faq p{
	padding-bottom: 10px;
}

.faq {
	padding-top: 7px;
}

#promo{
  display: none;
  width: 380px;
}
 
/* promo */

.promo{
  display: none;
}

.nav td a{
	text-decoration: none;
	color: black;	
	font-weight: bold;
}

.act_left{
  background-image: url(/img/l-act.gif);
}

.act_right{
  background-image: url(/img/r-act.gif);
}

.act_center{
	background-image: url(/img/center-act.gif);
}

.ina_left{
  background-image: url(/img/l-ina.gif);
}

.ina_right{
  background-image: url(/img/r-ina.gif);
}

.ina_center{
	 background-image: url(/img/center-ina.gif);
  	cursor : hand;
}

h1.home{
  font-family: arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	color: black;
	padding: 0px;
}

.code_hidden{
	display: none;
}
.code_show{
	display: all;
}
.div_hide{
	display: none;
}
.div_show{
	display: all;
}

.jqifade{
      position: absolute;
      background-color: #ffffff;
}
div.jqi{
      width: 700px;
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      position: absolute;
      background-color: #ffffff;
      font-size: 12px;
      text-align: left;
      border: solid 1px #999999;
      padding: 7px;
}
div.jqi .jqicontainer{
      font-weight: normal;
      text-align: center;
}
div.jqi .jqiclose{
      position: absolute;
      top: 4px; right: 10px;
      width: 18px;
      cursor: pointer;
      color: #999999;
      font-weight: bold;
      font-size: 18px;    
}
div.jqi .jqimessage{
      padding: 10px;
      line-height: 18px;
      color: #444444;
}
div.jqi .jqibuttons{
      text-align: center;
      padding: 5px 0 5px 0;
      padding-left: 45%;
}
div.jqi button{
      padding-left: 10px;
      padding-right: 10px;
      background-color: #eeeeee;
      border: solid 1px #eeeeee;
      color: #000000;
      font-size: 11px;      
}
div.jqi button.jqidefaultbutton{
      background-color: #eeeeee;
}

p b{
	font-size: 13px;
}

.anyClass li img 
{
    background-color: #fff;    
    margin: 10px;
}

#instr{
	color: green;
    font-weight: bold;
	background-color: #eeeeee;
}

#pager{
	margin-bottom: 10px;
}

#pager td{
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: black;
}

#pager td a{
	text-decoration: none;
	color: black;
}

#pager td.items{
	border-top: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
	border-left: 1px solid #c2c2c2;
}

#pager td.first_end{
	border: 1px solid #c2c2c2;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;	
	-webkit-border-radius: 3px;	
	border-radius: 3px;
}

#pager td#next{
	border: 1px solid #c2c2c2;
	-moz-border-bottom-right-radius: 3px;
	-khtml-border-bottom-right-radius: 3px;	
	-webkit-border-bottom-right-radius: 3px;	
	border-bottom-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-khtml-border-top-right-radius: 3px;	
	-webkit-border-top-right-radius: 3px;	
	border-top-right-radius: 3px;	
}

#pager td#prev{
	border: 1px solid #c2c2c2;
	border-right: none;
	-moz-border-bottom-left-radius: 3px;
	-khtml-border-bottom-left-radius: 3px;	
	-webkit-border-bottom-left-radius: 3px;	
	border-bottom-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-khtml-border-top-left-radius: 3px;	
	-webkit-border-top-left-radius: 3px;	
	border-top-left-radius: 3px;	
}

#pager td.active{
	background-color: #FFEBAE;
}

#quick_payment_button{
	background-color:#0088E0;
	cursor:pointer;
	color:#fff;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
	margin:0px;
	padding:0px;
	padding-left: 15px;
}

#menuAuth .menu2 a .nobg{
	background: none;
}

#quick_wrapper #payees{
	background-color:#fff;
}

#quick_wrapper .payees_block {
    border: 1px solid #BDBDBD;
		padding: 10px;
		margin-top: 5px;
		z-index: 1000;
}

#quick_wrapper .error {
	padding-top: 6px;
}

.info_box{ padding-top:11px; margin-right:-33px; overflow:hidden; }
.upper{ text-transform:uppercase; }
.info_box h3{  }

.info_box .left{ float:left; margin-right:721px; }
.info_box .right{ width:697px; position:absolute; top:0; right:0; }

.video-frame{ height:392px; width:697px; }
p.padd{ padding:3px 20px; }
.red{ color:#ec0c0a; }
.sn{ border:1px #e0e0e0 solid; padding:8px 19px 5px; margin-bottom:50px; }
.sn a{ margin:0 16px 0 0; }
.sn .count{ float:right; line-height:24px; opacity:0.54; }
.rel{ position:relative; min-height:800px; overflow:hidden; }

.help_nav{ margin-right:-20px; padding-bottom:30px; overflow:hidden; }
.help_nav .item{ width:218px; float:left; }
.help_nav .item a{ position:relative; display:block; text-align:center; border:1px #e0e0e0 dashed; height:121px; background:none; text-decoration:none; color:#000; text-transform:uppercase; font-size:1.17em; margin:0 20px 20px 0; }
.help_nav .item.active{ background:none; }
.help_nav .item.active a{ border:1px #e0e0e0 solid; background:#f3f3f3; }
.help_nav .item a span{ padding-top:85px; display:inline-block; }
.help_nav .item .png{ position:absolute; top:15px; left:0; right:0px; text-align:center; padding:0; }
.help_nav .item .gif{ position:absolute; top:15px; left:0; right:0px; text-align:center; padding:0; display:none; }

.under{ text-decoration:underline; }
ul{ list-style:url(/img/help/arrow.gif); }
.line{ border-top:1px #e0e0e0 solid; width:550px; }
.wgif{ min-height:550px; }



@media(max-width:1460px){
	.info_box .left{ float:none; margin-right:0px; }
	.info_box .right{ width:697px; position:relative; margin:30px 0 30px; }
}


/* e-voucher */
.icons{ width:100%; margin:30px 0; overflow:hidden; }
.icons .item{ width:25%; float:left; text-align:center; text-transform:uppercase; }
.icons .item img{ margin-bottom:20px; }
 
.dred{ color:#b00000; }
.signup{  
	background: url("/img/help/su_bg.png") no-repeat scroll center top transparent;
  height: 700px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.signup a{ 
  color: #000000;
  font-size: 16px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  top: 593px;
}
.signup a:hover{ text-decoration:underline; }